#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  display: none;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #4184b8;
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #2f5f85;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}