.example-p{
    font-size:10px;
}
.first{
    margin-bottom:0px;
}
.bio-header{
    position: relative;
    bottom:20px;
}
.jack-graham{
    margin-bottom:180px;
}
.assad-ivan{
    margin-bottom:140px;
}
.aussie{
    margin-bottom:250px;
}
.josh-munson{
    margin-bottom:40px;
}
.covenant-scroll img{
    height:100vh;
    width:100%;
}
#hero{
    background-image:url("../assets/img/castles-top-s.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
}
.logo-img{
    height:100px;
}
.nav-link{
    text-decoration: none;
}
.second{
    margin-bottom:40px;
}
.third{
    margin-bottom:20px;
}
.fourth{
    margin-bottom:60px;
}
.fifth{
    margin-bottom:30px;
}
.sixth{
    margin-bottom:30px;
}
.seventh{
    margin-bottom:60px;
}
.member-img{
    height:300px;
    width:400px;
}
.twitter-link{
    margin-top:30px;
}
.vl {
    border-left: 2px solid #899df7;
    height: 500px;
    position: relative;
    left:100px;
    bottom:100px;
  }
  .third-v1{
    position: relative;
    bottom:135px;
  }
  .sixth-v1{
    position: relative;
    bottom:95px;
  }
  .seventh-v1{
    position: relative;
    bottom:95px;
  }

#discord2{
    background-image: url(../assets/img/discord_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:30px;
    padding-bottom:50px;
}
#discord2 p{
    color:white;
}
.disc-btn{
    margin-top:20px;
    text-decoration: none;
    background-color: #6394fd;
    color:white;
    padding:10px 20px;
    font-weight:600;
}
.first-row{
    margin-bottom:0px;
    margin-top:30px;
}
.first-col{
    margin-top:40px;
}


.nav-link{
    color:#030924;
}
.social-link{
    color:#899df7;
    border:1px solid white;
}
.social-link:hover{
    background-color:#899df7;
    border: 1px solid #899df7;
}
.social-link-1{
    background-color:white;
    border:1px solid white;
    margin-bottom:20px;
}
.logo-span{
        font-size:40px;
    }
    .nav-link{
        font-size:23px;
    }
    .question{
        font-size:30px;
        font-weight:600;
    }
    .answer{
        font-size: 7rem;
        font-weight:600;
        line-height: 10rem;
    }
    .counter{
        position:relative;
        bottom:60px;
    }
    .countdown-timer{
        font-size:30px;
    }
    @media only screen and (max-width:500px){
        .counter-h3{
            position: relative;
            bottom:0px;
        }
.social-link{
display:none;
}
.logo-span{
font-size:14px;
}
.logo-img{
height:50px;
}
.nav-link{
font-size:18px;
}
.social-link{
width:20%;
margin-top:20px;
}
.counter{
margin-top:30px;
}
#hero{
height:430px;
}

.social-link{
    display:none;
}
.logo-span{
    font-size:20px;
}
.logo-img{
    height:50px;
}
.nav-link{
    font-size:18px;
}
.social-link{
    width:20%;
    margin-top:20px;
}
.counter{
    margin-top:30px;
}
#hero{
    height:430px;
}
.gif-img{
    height:300px;
    width:400px;
    position:relative;
    bottom:500px;
}
.carousel-card img{
    height:300px;
    width:300px;
    border-radius:10px;
}
#roadmap{
    margin-top:0px;
}
.roadmap-h2{
    font-size:30px;
}
.first-img-1{
    display:none;
}
.question{
    font-size:30px;
    font-weight:600;
}
.answer{
    font-size:30px;
    font-weight:600;
}
.member-name{
    font-size:30px;
}
.first,.second, .third{
   position: relative;
   bottom:40px;
}
.assad-row{
    position:relative;
    bottom:120px;
}
.aussie-row{
    position:relative;
    bottom:120px;
}
.circle-row{
    position: relative;
    bottom:250px;
}
.fourth{
    position:relative;
    bottom:20px;
}
.jack-row{
    margin-top:200px;
}
.vl{
    display:none;
}
.kelly-row{
    margin-top:60px;
}
.social-link{
    display:none;
}
.question{
    font-size:30px;
    font-weight:600;
}
.answer{
    font-size:30px;
    font-weight:600;
}

.first-row{
    margin-bottom:0px;
    padding:0px;
    margin-top:30px;
}
.first-col{
    font-size:10px;
}
#discord2{
    padding:0px;
    padding-bottom:50px;
}
.discord-link{
    margin-top:10px;
}
.member-name{
    font-size:30px;
}
.first,.second, .third{
   position: relative;
   bottom:40px;
}
.assad-row{
    position:relative;
    bottom:120px;
}
.aussie-row{
    position:relative;
    bottom:120px;
}
.circle-row{
    position: relative;
    bottom:250px;
}
.fourth{
    position:relative;
    bottom:20px;
}
.jack-row{
    margin-top:200px;
}
.vl{
    display:none;
}
.kelly-row{
    margin-top:60px;
}
.link{
    text-align: center;
}
.member-name{
    font-size:30px;
}
.logo-span{
    font-size:20px;
}
.logo-img{
    height:50px;
}
.nav-link{
    font-size:18px;
}
.social-link{
    width:20%;
    margin-top:20px;
}
.counter{
    margin-top:30px;
}
#hero{
    height:300px;
}
.jack-row{
    position:relative;
    top:140px;
}
.circle-row{
    position: relative;
    top:20px;
}
.gif-img{
    position: relative;bottom:100px;
    height:400px;
}
#gallary{
    position:relative;
    bottom:0px;
}
}
#hero{
    height:400px;
}
.jack-row-1{
    margin-top:0px;
}
.presentation-p{
    font-size:16px;
}
