:root {
    --vc-clr-primary: #642afb;
    --vc-clr-secondary: #8e98f3;
    --vc-clr-white: #fff;
    --vc-icn-width: 1.2em;
    --vc-nav-width: 30px;
    --vc-nav-color: #fff;
    --vc-nav-background-color: var(--vc-clr-primary);
    --vc-pgn-width: 10px;
    --vc-pgn-height: 5px;
    --vc-pgn-margin: 5px;
    --vc-pgn-border-radius: 0;
    --vc-pgn-background-color: var(--vc-clr-secondary);
    --vc-pgn-active-color: var(--vc-clr-primary);
}
:root {
    box-sizing: border-box;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
* {
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
    font-size: 62.5%;
    background: #01030d;
}
html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
div {
    display: block;
}
body {
    font: 1.8em/2 sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Space Grotesk;
    line-height: 32px;
    color: #848198;
}
body {
    font: 1.8em/2 sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 1.8em;
    line-height: 32px;
    font-family: Space Grotesk;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Space Grotesk;
    line-height: 32px;
    color: #848198;
}
section {
    display: block;
}
.unused {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 1.5s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 1.5s cubic-bezier(0.5, 0, 0, 1) 0.2s;
}
.container {
    max-width: 1160px;
    padding: 0 40px;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
#vue, .container {
    margin: auto;
}
header {
    justify-content: space-between;
    align-items: center;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
#hero header {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 2;
}
#hero {
    position: relative;
    -webkit-clip-path: polygon(0 0,100% 0,100% 88%,50% 100%,0 88%);
    clip-path: polygon(0 0,100% 0,100% 88%,50% 100%,0 88%);
    width: 100%;
    height: 75vh;
    padding: 0 0 0 0;
}
header .carda-logo {
    display: block;
    width: 50px;
    height: 60px;
    background: url("../assets/img/logo-tree.png") no-repeat;
    background-size: cover;
}
header .typo {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(212, 212, 212);
    margin-left: 20px;
}
header .link {
    border: 1px solid rgb(146, 145, 145);
    width: 44px;
    height: 44px;
    margin-right: 15px;
    box-shadow: inset 0 0 0 rgb(124, 124, 124);
    transition: all .3s ease-in-out;
}
header .link:hover {
    box-shadow: inset 0 -54px 0 #6394FD;
}
header .link a {
    width: 44px;
    height: 44px;
    display: block;
    justify-content: center;
    align-items: center;
}
header .twitter {
    background-color: #030924;
    -webkit-mask: url("../assets/img/logo-twitter.svg") no-repeat center;
    mask: url("../assets/img/logo-twitter.svg") no-repeat center;
}
header .wallet {
    background: #030924;
    border: none;
    font-family: Space Grotesk;
    font-size: 1.4rem;
    color: #fff;
    padding: 6px 20px;
    transition: all .3s ease-in-out;
}
header .wallet:hover {
    background-color: #6394fd;
}
.nav-top-left {
    width: 135px;
}
.nav-top-left a, a:visited {
    text-decoration: none !important;
    font-size: 2rem;
    color: #030924 !important;
    transition: all .3s ease-in-out;
    margin-left: 15%;
    font-weight: 700;
}
.nav-top-left a:visited{
    color: #030924 !important;
    text-decoration: none !important;
}
.nav-top-left a:hover{
    color: #364283 !important;
    text-decoration: none !important;
}
a {
    color: #6394fd;
    transition: all .3s ease-in-out;
}
a {
    background-color: transparent;
}
h1, h2 {
    color: #fff;
}
h2 {
    display: block;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h2 {
    font-size: 3.8rem;
    line-height: 4.2rem;
    font-weight: 700;
    margin-bottom: 35px;
}
h3, h4 {
    color: #fff;
}
h3 {
    font-size: 3rem;
    line-height: 3.3rem;
}
h3 {
    display: block;
    font-size: 1.7em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    margin: 30px 0 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.presentation-p {
    font-size: 0.9em;
}
.description {
    margin-left: 45px;

}
.nav-link{
    color:#7e7e7e !important;
}
.nav-link
.nav-item {
    color: #7e7e7e !important;
}
.social-link{
    color:#899df7;
    border:1px solid white;
}
.social-link:hover{
    background-color:#899df7;
    border: 1px solid #899df7;
}
.social-link-1{
    background-color:white;
    border:1px solid white;
    margin-bottom:20px;
}
.first-img-2{
    display:none;
}
.logo-span{
    font-size:40px;
}
.nav-link{
    font-size:23px;
}
#hero{
    height:550px;
}
.presentation-p{
    font-size:16px;
    font-weight:550px;
}
.first-row{
    margin-top:50px;
}
.member-img{
    height:400px;
}
.question{
    font-size:40px;
    font-weight:600;
}
.answer{
    font-size:40px;
    font-weight:600;
}
.nav-item:hover a{
    border-bottom:3px solid white;
}

.counter-h3{
position: relative;
bottom:100px;
}

.disc-btn button{
font-size:20px;
font-weight:600;
}
.disc-btn:hover{
    background-color:#4f5be3;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
header .discord {
    background-color: #030924;
    -webkit-mask: url("../assets/img/logo-discord.svg") no-repeat center;
    mask: url("../assets/img/logo-discord.svg") no-repeat center;
}
button, input[type=button], input[type=reset], input[type=submit] {
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    cursor: pointer;
}
button, input, select {
    overflow: visible;
}
#hero .hero-main-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    font-size: 20px;
    line-height: 30px;
    font-family: Space Grotesk;
    text-align: center;
    text-decoration: none;
}
#hero .hero-main-btn.clickable .element {
    cursor: pointer;
}
#hero .hero-main-btn .element {
    background: transparent;
    padding: 25px 50px;
    transition: all .3s ease-in-out;
    color: #fff;
    cursor: no-drop;
}
#hero .hero-main-btn .element>.text {
    font-weight: 700;
}
#hero .hero-main-btn.clickable .element:hover {
    background: transparent;
    color: #fff;
}
.degrade {
    background: linear-gradient(
90deg,#b955d8,#c389d4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.degrade-reverse {
    background: linear-gradient(
90deg,#c389d4,#b955d8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#presentation .examples:after {
    position: absolute;
    content: "";
    width: 145px;
    height: 145px;
    background: url() no-repeat;
    left: -70px;
    top: -50px;
}
:after, :before {
    vertical-align: inherit;
    text-decoration: inherit;
}
*, :after, :before {
    box-sizing: inherit;
}
#presentation {
    margin-top: 150px;
    margin-bottom: 150px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
#gallery {
    margin-bottom: 0px;
    margin-top: 0px;
    position:relative;
    bottom:100px;
}
#gallery .carousel {
    overflow: hidden;
}

.carousel, .carousel * {
    box-sizing: border-box;
}
.carousel {
    position: relative;
    text-align: center;
}
.carousel__viewport {
    overflow: hidden;
}
.carousel__viewport {
    overflow: hidden;
}
.carousel__track {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    text-align: -webkit-match-parent;
}
ol {
    list-style-type: decimal;
}
#gallery .carousel__pagination {
    align-items: flex-end;
    margin-top: 50px;
}
.carousel__pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}
.carousel__pagination-button {
    margin: var(--vc-pgn-margin);
    width: var(--vc-pgn-width);
    height: var(--vc-pgn-height);
    border-radius: var(--vc-pgn-height);
    border: 0;
    cursor: pointer;
    background-color: var(--vc-pgn-bg-color);
}
#gallery .carousel__pagination-item button {
    width: 40px;
    height: 12px;
    background: #4e619a;
    margin: 1px;
    border: 5px solid #01030d;
    transition: all .3s ease-in-out;
}
/*
#roadmap {
    position: relative;
    margin-bottom: 100px;
    overflow: hidden;
}
#roadmap .container {
    width: 80%;
}
#roadmap .intro, #roadmap h2 {
    text-align: center;
    width: 55.55%;
    margin-left: 11.11%;
}
#roadmap .intro {
    margin-top: 0;
}
#roadmap .row.relative {
    position: relative;
}
#roadmap .timeline {
    position: relative;
    align-items: center;
    width: 77.77%;
    margin: 80px 0 0;
}
#roadmap .line {
    position: absolute;
    width: 2px;
    height: 100%;
    background: hsla(0,0%,100%,.4);
    left: 82px;
}
#roadmap .progression {
    background: #ff79a8;
    background: linear-gradient(180deg,#ff79a8,#d02561 49%);
    width: 3px;
    height: 180px;
    margin-left: -1px;
}
#roadmap .step:nth-child(2) {
    margin-top: 100px;
}
#roadmap .step {
    background: #04091a;
    width: 100%;
    padding: 50px 70px;
    margin: 30px 0;
}
#roadmap .dot {
    padding: 5px;
}
#roadmap .step.done .shape {
    background: #d02560;
}
#roadmap .shape {
    width: 15px;
    height: 15px;
    background: #fff;
    box-shadow: 0 0 0 6px #04091a;
    transform: rotate(45deg);
}
#roadmap .details {
    margin-left: 35px;
}
#roadmap .title {
    align-items: flex-end;
}
#roadmap .number {
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin-right: 20px;
}
#roadmap .step p {
    margin: 20px 0 0;
}
#roadmap .box {
    position: absolute;
    left: 77.77%;
    top: -250px;
    margin: 0;
}
*/
.bold {
    font-weight: 700;
}
#discord {
    position: relative;
    width: 100%;
    background: url("../assets/img/discord_background.png") no-repeat;
    background-size: cover;
    background-position: 50% left;
    margin-top: 160px;
    overflow: hidden;
    margin-top: 10rem;
}
#discord .container {
    padding: 100px 60px;
}
#discord h2 {
    color: #899df7;
    width: 55.55%;
    margin-bottom: 25px;
    font-size: 5rem;
}
#discord p {
    width: 44.44%;
    margin: 0 0 50px;
    color: #dfe5ff;
}
#discord .lord {
    position: absolute;
    width: 580px;
    height: 427px;
    background: url() no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
}
footer .container {
    justify-content: space-between;
    margin: 70px auto;
}
footer .infos {
    width: 44.44%;
    justify-content: space-between;
}
footer .carda-logo {
    display: block;
    width: 50px;
    height: 30px;
    background: url("../assets/img/logo-tree.png") no-repeat;
    background-size: cover;
}
footer .baseline {
    font-weight: 300;
    color: #fff;
    margin-top: 10px;
}
footer .copyright {
    font-size: 1.5rem;
    color: #848198;
    font-weight: 300;
    margin-top: 40px;
}
footer .right {
    width: 22.22%;
    justify-content: space-between;
}
footer .nav a:first-child {
    color: #fff;
}
footer .nav a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #4e619a;
    transition: all .3s ease-in-out;
}
footer .link {
    border: 1px solid #6394fd;
    width: 44px;
    height: 44px;
    margin-right: 15px;
    box-shadow: inset 0 0 0 #6394fd;
    transition: all .3s ease-in-out;
}
footer .link a {
    width: 44px;
    height: 44px;
    display: block;
    justify-content: center;
    align-items: center;
}
footer .link:hover {
    box-shadow: inset 0 -54px 0 #6394fd;
}
footer .twitter {
    background-color: #fff;
    -webkit-mask: url("../assets/img/logo-twitter.svg") no-repeat center;
    mask: url("../assets/img/logo-twitter.svg") no-repeat center;
}
footer .link:last-child {
    margin-right: 0;
}
footer .discord {
    background-color: #fff;
    -webkit-mask: url("../assets/img/logo-discord.svg") no-repeat center;
    mask: url("../assets/img/logo-discord.svg") no-repeat center;
}
#discord .cta:hover {
    background: #527bd3;
}

#discord .cta {
    padding: 16px 30px;
    background: #6394fd;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.cta:hover {
    background: #6394fd;
    color: #fff;
}
a:hover {
    color: #6394fd;
}
a:active, a:hover {
    outline: 0;
}
.cta {
    padding: 16px 30px;
    background: #6394fd;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: all .3s ease-in-out;
}
#team {
    margin-bottom: 200px;
    padding-top: 100px;
    overflow: hidden;
}
#team .intro {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}
#team .title {
    position: relative;
    width: 44.44%;
    text-align: right;
    padding-right: 70px;
}
#team .question {
    font-size: 4rem;
    font-weight: 700;
}
#team .answer {
    font-size: 5rem;
    font-weight: 700;
    line-height: 4.6rem;
    margin-top: 10px;
}
#team .title:after {
    position: absolute;
    content: "";
    width: 123px;
    height: 123px;
    background: url("../images/golden_pyramyd.png") no-repeat;
    left: -60px;
    top: -100px;
}
#team .presentation {
    width: 55.55%;
}
#team .presentation p {
    margin: 0;
}
#team .member {
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
}
#team .who {
    width: 33.33%;
}
#team .who .top {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
#team .who img {
    align-self: flex-start;
    width: 100%;
}
#team .link:first-child {
    margin-right: 15px;
}
#team .link {
    background: #4753d6;
    width: 44px;
    height: 44px;
    transition: all .3s ease-in-out;
}
#team .twitter {
    background-color: #fff;
    -webkit-mask: url("../assets/img/twitter-about-small.svg") no-repeat center;
    mask: url("../assets/img/twitter-about-small.svg") no-repeat center;
}
#team .instagram {
    background-color: #fff;
    -webkit-mask: url("../assets/img/logo-instagram.svg") no-repeat center;
    mask: url("../assets/img/logo-instagram.svg") no-repeat center;
}
#team .network {
    width: 44px;
    height: 44px;
    display: block;
    justify-content: center;
    align-items: center;
}
#team .spacer {
    position: absolute;
    width: 2px;
    height: calc(100% - 79px);
    background: #687fc2;
    left: 38.885%;
    bottom: 0;
    opacity: .4;
}
.sean-spacer{
    position: absolute;
    width: 2px;
    height: 400px;
    background: #687fc2;
    left: 38.885%;
    bottom: 0;
    opacity: .4;
    top:18%;
}
#team .works {
    width: 55.55%;
    justify-content: space-between;
}
#team .nav, #team .works .top {
    justify-content: space-between;
}
#team .works .top {
    align-items: center;
    margin-bottom: 25px;
    height: 20px;
}
#team .examples {
    justify-content: space-between;
}
#team p {
    text-align: left;
    font-size: 1.6rem;
}
#team .member {
    margin-top: 80px;
}

/* roadmap */
.roadmap-img{
    height:100%;
    width:100%;
}
.second-row{
    margin-top:100px;
}

/* about us  */
.sean{
    position:relative;
    top:80px;
}
.example-p{
    font-size:10px;
}