body {
    font-family: 'Poppins', sans-serif;
}
img, figure {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.noscript {
    color: #fff;
    font-size: 2rem;
    padding: 15px;
}
.jCaptchaCanvas {
    vertical-align: text-top;
}
.jCaptcha {
    padding: 8px 6px;
    border-radius: 4px;
    border: solid 3px #ddd;
}

/** HELPERS */
.title-xlarge {
    font-size: 65px;
    font-weight: 600;
}
.f-light {
    font-weight: 200;
}
.f-large{
    font-size: 40px;
    font-weight: 500;
}
.f-18 {
    font-size: 18px;
    line-height: 32px;
}
.text-muted {
    color: #7772f1 !important;
}
.btn-twitter {
    background-color: #55ACEE;
    border-bottom: solid 5px #028ef9;
    color: #fff;
}
.btn-twitter:hover {
    background-color: #3e9ce4;
    border-bottom-color: #0470c3;
    color: #fff;
}
.btn-facebook {
    background-color: #328bff;
    border-bottom: solid 5px #1568d4;
    color: #fff;
}
.btn-facebook:hover {
    background-color: #2279eb;
    border-bottom-color: #1555a8;
    color: #fff;
}
.btn-discord {
    background-color: #8c9eff;
    border-bottom: solid 4px #5a6ac3;
    color: #fff;
}
.btn-discord:hover {
    background-color: #6d82f5;
    border-bottom-color: #4a5bbd;
    color: #fff;
}.btn-instagram {
    background-color: #db61e9;
    border-bottom: solid 4px #b04bbb;
    color: #fff;
}
.btn-instagram:hover {
    background-color: #d05add;
    border-bottom-color: #a044aa;
    color: #fff;
}
.btn-buy {
    background-color: #b04bbb;
    border-bottom: solid 4px #8d3b96;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}
.btn-buy:hover {
    background-color: #8d3b96;
    border-bottom-color: #6e2e75;
    color: #fff;
}

.btn-secondary {
    background-color: #8d3b96;
    border-bottom-color: #6e2e75;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

.bg-faded-primary {
    background-color: rgba(118,109,244,.08) !important;
   
   /* background: url('backg.jpg'); */
}
.page-wrapper {
    flex: 1 0 auto;
}

header.header {
    margin-bottom: 3rem !important;
}
header.header .nav-link {
    color: #fff;
    font-size: 18px;
}
section.hero {
    padding-top: 1rem !important;
    padding-bottom: 2rem !important;
    position: relative;
}
section.hero .container {
    z-index: 999;
}
section.about {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    /* background-color: #000f21; */

  background: linear-gradient(to bottom, #2f0480 30%, #783fc2 100%);
}
section.collection {
    position: relative;
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}
section.buy {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    background-color: #1e88e5;
}
.py-md-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

/* Page BUY */
.brand-text {
    font-size: 1.3rem;
    color: #f44336;
}
.nav-link {
    color: #000;
    font-weight: 600;
}
.btn-buy{
    width: 350px;
}
.payment-address {
    word-break: break-all;
}
/* 
.timer {
}
*/
.rules {
    list-style: decimal;
}
.rules li {
    margin-bottom: 15px;
}
.buy-wrapper img {
    border-radius: 5px;
}
/*
.buy-info {
}
*/
.buy-info label {
    font-size: 1rem;
    display: block;
}
.input-copy {
    width: calc(100% - 100px);
}
.accordion-button {
    font-weight: 600;
}

/* GIF */
.gif-wrapper {
    position: relative;
}
.gif1{
    opacity: .5;
    border-radius: 8px;
}
.gif2{
    position: absolute;
    top: -15px;
    left: 100px;
    border-radius: 8px;
}

/* CARD */
.card.team {
    border: .2rem solid #f3f1ee;
} 
.card .card-body {
    z-index: 99;
}
.card .card-img {
    text-align: center;
}
.card .card-img img {
    border-radius: 8px;
}
.card:before {
    z-index: -1;
    top: -.8rem;
}
.card:after {
    z-index: -2;
    top: -1.4rem;
}
.card.team, .card.team:after, .card.team:before {
    --borderRadius: 1rem;
    --transitionDuration: 0.2s;
    border-radius: var(--borderRadius);
    background-color: #fff;
    border: .2rem solid #e9ecef;
    -webkit-transition: -webkit-transform var(--transitionDuration);
    transition: -webkit-transform var(--transitionDuration);
    transition: transform var(--transitionDuration);
    transition: transform var(--transitionDuration),-webkit-transform var(--transitionDuration);
}
.card:after, .card:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: .02rem;
}

/* Count DOWN */
#countdown ul {
    text-align: center
}
#countdown li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}
#countdown li span {
  display: block;
  font-size: 4.5rem;
}

/** PARTICLES */
.cloud {
    position: absolute;
    bottom: 5px;
    left: 350px;
    z-index: 99;
}
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    min-height: 500px;
   /* background-color: #43105e; */
   
   background: linear-gradient(to top, #2f0480 30%, #783fc2 100%);
}

/** ANIMATION CLOUD */
.shake-vertical{animation:shake-vertical 10s cubic-bezier(.455,.03,.515,.955) infinite both}

/* ----------------------------------------------
 * Generated by Animista on 2021-9-13 15:49:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes shake-vertical{0%,100%{transform:translateY(0)}10%,30%,50%,70%{transform:translateY(-4px)}20%,40%,60%{transform:translateY(4px)}80%{transform:translateY(4.4px)}90%{transform:translateY(-4.4px)}}


/* RESPONSIVE */

/* Small devices */
@media (max-width: 576px) {
    .gif2{
        position: absolute;
        top: -10px;
        left: 5px;
    }
    /** HELPERS */
    .title-xlarge {
        font-size: 48px;
    }
    .f-large{
        font-size: 42px;
    }
}

